/* Estilo padrão */
.header-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .header-container {
    flex-direction: row;
    align-items: start;
    justify-content: normal;
    padding-left: 20xp;
    padding-right: 20xp;
  }

  .menu-container {
    margin-right: 50px;
  }
}
